{% extends 'iitp/base.html' %}
{% block title %}HOME{% endblock %}

{% block body %}
    <div>
     <h3>Welcome</h3>
     <form>
         <div class="col-sm-12 col-md-12 space">
             <div class="form-group">
                 <select id="selec" class="form-control" onchange="location = this.options[this.selectedIndex].value;" required>
                     <option value="https://www.facebook.com/">BIT PATNA</option>
                     <option value="https://www.facebook.com/">IIT PATNA</option>
                     <option value="http://127.0.0.1:8000/bank/home1/">NIT PATNA</option>
                 </select>
             </div>
         </div>
     </form>
 </div>
{% endblock %}

