{% extends 'bank/base.html' %}
{% load staticfiles %}
{% block title %}streams{% endblock %}

{% block body %}
    {% block stream %}<link rel="stylesheet" href="{% static 'stream.css' %}">{% endblock %}
    {% block branch_box %}<link rel="stylesheet" href="{% static 'branch_box.css' %}">{% endblock %}
    <div class="backgroun">
</div>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="brabox">
                               <img src="{% static 'icon/cs.jpg' %}">
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="brabox">
                               <img src="{% static 'icon/civil.jpg' %}">
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="brabox">
                               <img src="{% static 'icon/ece.jpg' %}">
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="brabox">
                               <img src="{% static 'icon/eee.jpg' %}">
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
                <div style="min-height: 50px"></div>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="brabox">
                               <img src="{% static 'icon/it.jpg' %}">
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="brabox">
                               <img src="{% static 'icon/production.jpg' %}">
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="brabox">
                               <img src="{% static 'icon/eee.jpg' %}">
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="brabox">
                               <img src="{% static 'icon/eee.jpg' %}">
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
{% endblock body %}
