{% extends 'bank/base.html' %} {% block body %}
<center>
    <h3>Select an Institution.</h3></center>
<hr>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form>
            <div class="col-sm-12 col-md-12 space">
                <div class="form-group">
                    <select id="selec" class="form-control" onchange="location = this.options[this.selectedIndex].value;" required>
                        <option selected="selected" disabled>Colleges List:</option>
                        <option value="{% url 'bank:branch' %}">BIT PATNA</option>
                        <option value="{% url 'iitp:stream' %}">IIT PATNA</option>
                        <option value="https://www.google.com">NIT PATNA</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
