<head>
    <style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

    #map {
        height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */

    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    body {
        font-family: "Lato", sans-serif;
        transition: background-color .5s;
    }
    </style>
    <div id="map"></div>
    <script type="text/javascript">
    var locations = [
        ['BITP',
            25.5961,
            85.0876,
            '<div id="siteNotice"></div><h1 id="firstHeading" class="firstHeading">BIT PATNA</h1><div id="bodyContent"><p><b>BITP</b>is<b></b>Heritage Site.</p><p>Attribution: Uluru,<a href="/bank/college/1"">https://en.wikipedia.org/w/index.php?title=Uluru</a>(last visited June 22, 2009)</p></div></div>'
        ],
        ['NITP',
            25.5358,
            84.8511,
            '<div id="siteNotice"></div><h1 id="firstHeading" class="firstHeading">IIT PATNA</h1><div id="bodyContent"><p><b>IITP</b>ghgh<b>Ayers Rock</b>Heritage Site.</p><p>Attribution: Uluru,<a href="/bank/college/2"">https://en.wikipedia.org/w/index.php?title=Uluru</a>(last visited June 22, 2009)</p></div></div>'
        ],
        ['IITP',
            25.6211,
            85.1720,
            '<div id="siteNotice"></div><h1 id="firstHeading" class="firstHeading">NIT PATNA</h1><div id="bodyContent"><p><b>NITP</b>ghgh<b>Ayers Rock</b>Heritage Site.</p><p>Attribution: Uluru,<a href="/bank/college/3"">https://en.wikipedia.org/w/index.php?title=Uluru</a>(last visited June 22, 2009)</p></div></div>'
        ]
    ];

    function initMap() {
        var infowindow = new google.maps.InfoWindow();
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: new google.maps.LatLng(25.5961, 85.0876)
        });

        function placeMarker(loc) {
            var latLng = new google.maps.LatLng(loc[1], loc[2]);
            var marker = new google.maps.Marker({
                position: latLng,
                map: map
            });

            google.maps.event.addListener(marker, 'click', function() {
                infowindow.close(); // Close previously opened infowindow
                infowindow.setContent(loc[3]);
                infowindow.open(map, marker);
            });
        }

        for (var i = 0; i < locations.length; i++) {
            placeMarker(locations[i]);
        }
    }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCoyyjydtLHOs495h0DzciQPISIuJhnv04&callback=initMap"></script>
    </body>