{% extends 'bank/base.html' %} {% block body %}
<center>
    <h1>{{question_views.subject}}.</h1></center>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="jumbotron">

                {% if question_views.question_1_a != "" %}1.a
                <img src="/media/{{question_views.question_1_a}}" alt="" class="img-responsive"> {% endif %} {% if question_views.question_1_b != "" %}1.b
                <img src="/media/{{question_views.question_1_b}}" alt="" class="img-responsive">{% endif %} {% if question_views.question_two_a != "" %}2.a
                <img src="/media/{{question_views.question_two_a}}" alt="" class="img-responsive"> {% endif %} {% if question_views.question_two_b != "" %}2.b
                <img src="/media/{{question_views.question_two_b}}" alt="" class="img-responsive">{% endif %} {% if question_views.question_3_a != "" %}3.a
                <img src="/media/{{question_views.question_3_a}}" alt="" class="img-responsive"> {% endif %} {% if question_views.question_3_b != "" %}3.b
                <img src="/media/{{question_views.question_3_b}}" alt="" class="img-responsive">{% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
