{% extends "bank/base.html" %} {% block body %}
<div class="container">
    <center>
        <h1>Select Any Semester</h1></center>
    <div class="row">
        <hr> {% for sem in semester_views %}
        <div class="col-md-4">
            <div class="jumbotron">
                    <div>
                        <a href="/bank/semester/{{bbid}}/subject/{{sem.id}}">{{sem.id}}.{{sem.semester_name}}</a>
                    </div>
                </center>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}

