{% extends "bank/base.html" %} {% load staticfiles %} {% block styles %}
<link rel="stylesheet" href="{% static 'bank/pictheme.css' %}"> {% endblock %}{% block body %}
<div class="container">
    <center>
        <h1>Select Any Subject</h1></center>
    <div class="row">
        <hr> {% for subject in subject_views %} {% if forloop.counter|divisibleby:4%}

        <br> {% endif %}
        <div class="item tm{{forloop.counter}}" style=" margin-top: 2em;">
            <img src='/media/{{subject.subject_image}}' alt="" style="width:200px;height:200px">
            <a href="/bank/paper/{{subject.id}}">
                <p>{{subject.subject_name}}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}

<!--<div class="col-md-4">
    <div class="jumbotron">
        <div>
            <img src='/media/{{subject.subject_image}}' alt="" style="width:200px;height:200px">
            <a href="/bank/paper/{{subject.id}}">{{subject.subject_name}}</a>
        </div>
        </center>
    </div>
</div>
-->
